# Byte-compiled
__pycache__/
*.pyc

#Ipython Notebook
.ipynb_checkpoints
/staticfiles/*

/db.sqlite3
/vhioe/settings/mysql.py
/vhioe/settings/server.py
/vhioe/settings/dev_local.py
/playAndTry.ipynb
/vhioe/db.sqlite3

/vocabs/data/japbibthesaurus_03.rdf
/vocabs/data/thepro_rdf.xml
