{% extends "webpage/base.html" %}
{% block Titel %} Beruf(e) {% endblock %}
{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Beruf(e)</h1>
		<div>
			<a class="btn btn-primary btn-lg" href="{% url 'vocabs:beruf_create' %}">create new Volume</a>
		</div>
	</div>
	<div class="panel-body">
		{% if object_list %}
		<table class="table table-striped">
			<thead>
				<th>name</th>
				<th>alternative name</th>
				<th>description</th>
			</thead>
			<tbody>
			{% for object in object_list %}
				<tr>
					<td>
						<a href="{% url 'vocabs:beruf_edit' pk=object.id %}">{{ object.name }}</a>
					</td>
					<td>
						{% for x in object.alternative_namen.all %}
							{{x.name}}<br/>
						{% endfor %}
					</td>
					<td>
						{{ object.description }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}
