{% extends "webpage/base.html" %}
{% block Titel %} Create/Modify Entities {% endblock %}
{% block scriptHeader %}

{% endblock %}
{% block content %}

{% load crispy_forms_tags %}
<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Vocabular anlegen 
					{% if instance %}
					bearbeiten
					{% else %}
					anlegen
					{% endif %}
				</h1>
			</div>
			<div class="panel-body">
				{% crispy form %}
				{% if instance %}
					<a class ="btn btn-danger btn-sm" href="{% url 'entities:band_delete' pk=instance.id %}">delete</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

