{% extends "browsing/generic_list.html" %}
{% block Titel %}Explore Bände{% endblock %}
{% block list_title %}Explore Bände
    {% if user.is_authenticated %}
    |
    <small>
        <a href="{% url 'entities:band_create' %}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" title="neues Object anlegen">
        </a>
    </small>
    {% endif %}
{% endblock %}

{% block reset_button %}
<!-- <a class ="btn btn-default"  id="01">Show/Hide Advanced search options</a></br>
 <p></p> -->
 <a class ="btn btn-default"  href="{% url 'browsing:browse_baende' %}">Reset search</a>
{% endblock %}

{% block sorting %}
<b>sort by: </b>

    <a class="sorting-item" href="{% url 'browsing:browse_baende' %}?sort=id">band</a>
    <a class="sorting-item" href="{% url 'browsing:browse_baende' %}?sort=archiv">archiv</a>
    <a class="sorting-item" href="{% url 'browsing:browse_baende' %}?sort=bestand">bestand</a>
    <a class="sorting-item" href="{% url 'browsing:browse_baende' %}?sort=jahr">jahr</a>
    
{% endblock sorting %}

{% block customScripts %}
<script type="text/javascript">
$(document).ready(function(){
    $("#advanced_search_fields").hide();
    $("#01").click(function(){
        $("#advanced_search_fields").toggle();
    });
});
</script>
{% endblock %}
