{% extends "browsing/generic_list.html" %}
{% block Titel %}Explore Bände{% endblock %}
{% block list_title %}Explore Bände
 {% if user.is_authenticated %}
        | <a class ="btn btn-success"  href="{% url 'entries:band_create' %}">Create new Band</a>
    {% endif %}
{% endblock %}

{% block reset_button %}
<!-- <a class ="btn btn-default"  id="01">Show/Hide Advanced search options</a></br>
 <p></p> -->
 <a class ="btn btn-default"  href="{% url 'browsing:baende_entries' %}">Reset search</a>     
{% endblock %}

{% block customScripts %}
<script type="text/javascript">
$(document).ready(function(){
    $("#advanced_search_fields").hide();
    $("#01").click(function(){
        $("#advanced_search_fields").toggle();
    });
});
</script>
{% endblock %}