{% extends "webpage/base.html" %}
{% block Titel %} {{object}} {% endblock %}

{% block content %}
    <div class="panel panel-default detail-panel">
        <div class="panel-heading" style="text-align: center;">
            <h2>Detail view of</h2>
            <h2>{{ object }}</h2>
            <hr class="h-hr">
             {% if user.is_authenticated %}
                <a href="{% url 'entities:bearbeiter_edit' pk=object.id %}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="edit">
                </a>
                <a href="{% url 'entities:bearbeiter_delete' pk=object.id %}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" title="delete">
                </a>
            {% endif %}
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <td class="col-sm-3">Name, Vorname</td>
                    <td>{{ object.vorname }} {{ object.name }}</td>
                </tr>
                 <tr>
                    <td>Gender</td>
                    <td>
                        {{ object.sex }}
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-3">Institution(en)</td>
                    <td>
                        {% for x in object.institution.all %}
                            {{ x }}
                            <a href="{% url 'entities:institution_edit' pk=x.pk %}">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Object bearbeiten">
                            </a><br/>
                        {% endfor %}
                    </td>
                </tr>

                {% if object.ort %}
                    <tr>
                        <td>Ort</td>
                        <td>
                            {{ object.ort }}
                            {% if user.is_authenticated %}
                                <a href="{% url 'places:place_edit' pk=object.ort.pk %}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Object bearbeiten">
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% if object.beruf %}
                    <tr>
                        <td class="col-sm-3">Beruf</td>
                        <td>
                            {{ object.beruf }}
                            {% if user.is_authenticated %}
                                <a href="{% url 'vocabs:skosconcept_update' pk=object.beruf.pk %}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Object bearbeiten">
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="col-sm-3">GND-ID</td>
                    <td>
                        {{ object.gnd_id }}
                    </td>
                </tr>

            </table>
        </div>
    </div>
{% endblock %}
