{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}


<div id="content">


<div class="container">

  <div class="row">
  <div class="panel myPanel col-sm-12">
    <div class="panel-heading myPanelHead">
      <p>start</p>
    </div>
    <div class="panel-body myPanelBody">
  <h1 style="text-align:center">{% projects_metadata 'title' %}</h1>
  <h3>{% projects_metadata 'subtitle' %}</h3>
  <p>{% projects_metadata 'description' %}</p>
</div>
</div>

</div>

<div class="row">

<div class="panel myPanel col-md-5" style="margin: 40px;">

  <div class="panel-heading myPanelHead">
    <p>start</p>
  </div>
  <div class="panel-body myPanelBody">
<h1 style="text-align:center">{% projects_metadata 'title' %}</h1>
<h3>{% projects_metadata 'subtitle' %}</h3>
<p>{% projects_metadata 'description' %}</p>
</div>

</div>

<div class="panel myPanel col-md-5 pull-right" style="margin: 40px;">

  <div class="panel-heading myPanelHead">
    <p>start</p>
  </div>
  <div class="panel-body myPanelBody">
    <h1 style="text-align:center">{% projects_metadata 'title' %}</h1>
    <h3>{% projects_metadata 'subtitle' %}</h3>
    <p>{% projects_metadata 'description' %}</p>
  </div>

</div>

</div>

</div>


</div>


</div>

{% endblock %}
