{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}
<div id="content">



  <!--main content panel-->
  <div class="panel index-panel">
    <div class="panel-body">
    <!--left column starts here-->
 <div id="hp-intro-text">
 <h2>About the project</h2>
 <hr class="h-hr">
 <p>{% lorem %}</p>
 <p>{% lorem %}</p>
 </div>

 <div id="main">
      <article> 
      <h2>Verwaltung und Herrschaft in Österreich</h2>
      <hr class="h-hr">
      <p>{% lorem %}</p>

      </article>
     
      <aside>Browse the protocols</aside>
</div><!--main-->


    </div><!--panel-body-->
  </div><!--panel myPanel-->




</div><!--content-->
{% endblock %}